@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #261fb3;
  --color-secondary: #1e3a8a;
  --color-base-200: #1f2937;
  --color-base-300: #374151;
  --color-accent: #60a5fa;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #261fb3;
  --color-secondary: #fbe4d6;
  --color-base-200: #7a73d1;
  --color-base-300: #b5a8d5;
  --color-accent: #7886c7;
}

* {
  font-family: "Poppins", sans-serif;
}
a.active {
  @apply text-primary;
  @apply bg-secondary;
  @apply rounded-2xl;
}
[data-theme="dark"] .active {
  color: black;
  background-color: #fbe4d6;
}
